registry "https://registry.npmmirror.com"

sass_binary_site "https://registry.npmmirror.com/mirrors/node-sass"
phantomjs_cdnurl "https://registry.npmmirror.com/mirrors/phantomjs"
electron_mirror "https://registry.npmmirror.com/mirrors/electron/"
profiler_binary_host_mirror "https://npmmirror.com/mirrors/node-inspector/"
chromedriver_cdnurl "https://registry.npmmirror.com/mirrors/chromedriver"
sentrycli_cdnurl "https://registry.npmmirror.com/mirrors/sentry-cli/"
sqlite3_binary_host_mirror "https://registry.npmmirror.com/-/binary/"
node_sqlite3_binary_host_mirror "https://registry.npmmirror.com/-/binary/"
